html {
  height: 100%;
  background: linear-gradient(#813b97, #463c96);
}

@keyframes progress1 {
  0% {
    transform: scalex(0);
    opacity: .5;
  }
  90% {
    transform: scalex(1);
    opacity: 1;
  }
  92% {
    transform: scalex(1);
    opacity: 1;
  }
  100% {
    transform: scalex(1);
    opacity: 0;
  }
}

@keyframes progress2 {
  0% {
    transform: scale(.3,.8) translatez(0);
    opacity: 0;
  }
  90% {
    transform: scale(1,1) translatex(300px) translatez(0);
    opacity: 1;
  }
  100% {
    transform: scale(1,1) translatex(300px) translatez(0);
    opacity: 0;
  }
}

.line {
  position: absolute;
  top: 50%;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 3px;
  background: rgba(255,255,255,.1);
  
  &:before {
    animation: progress1 4s infinite;
    transform-origin: 0 0;
    content: "";
    display: block;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0.1) 10%, rgba(255,255,255,0.4) 80%, rgba(255,255,255,1));
  }
  
  &:after {
    content: "";
    position: absolute;
    animation: progress2 4s infinite;
    transform-origin: 90% 50%;
    margin-left: -24px;
    top: -9px;
    width: 30px;
    height: 21px;
    border-radius: 2px;
    background: rgba(210,189,255,.55);
    filter: blur(8px);
    box-shadow: 0 0 10px 6px rgba(210,189,255,.4),
                -20px 0 15px 4px rgba(210,189,255,.3),
                -40px 0 15px 2px rgba(210,189,255,.2),
                -60px 0 10px 1px rgba(210,189,255,.1),
                -80px 0 10px 1px rgba(210,189,255,.05);
  }
}